VITE_API_BASE_URL=http://localhost:8002/api/v1

# Optional - real mode used by default
#VITE_AUTH_MODE=real
#VITE_APP_ENVIRONMENT=prod
VITE_SUPABASE_URL=http://localhost:54321/
# VITE_SUPABASE_ANON_KEY=<supabase publishable key for auth>

#VITE_TEST_USER_ID = 32f..