APP_ENVIRONMENT=dev
STATEMENTS_STORAGE_BUCKET=statements
# CORS allowed domains setup
FRONTEND_URL=http://localhost:5173
# Postgres DB service
DB_CONNECTION_STRING=postgresql+psycopg2://postgres:postgres@db:5432/postgres

# Demo mode setup
AUTH_MODE=demo
TEST_USER_ID=32c36a58-0b35-4488-9d0c-b215ee5c7624
STORAGE_BACKEND=local
LOCAL_STORAGE_ROOT=/data/storage

# Real Mode Setup - local supabase service required for auth and storage
# SUPABASE_URL=http://localhost:54321/
# SUPABASE_ANON_KEY=<publishable key provided after starting supabase instance>
# SUPABASE_ADMIN_KEY=<secret key provided after starting supabase instance>


